#clickMe {
	background: yellow;
	padding: 20px;
	text-align: center;
	width: 205px;
	display: block;
	border: 2px solid #000;
}

#picframe {
	background: yellow;
	padding: 20px;
	width: 600px;
	display: none;	/*none으로 잡혀있으면 처음에 안보임*/
	border: 2px solid #000;
}

